In [3]:
!pip install sqlalchemy -q

[notice] A new release of pip is available: 23.1.2 -> 26.0.1
[notice] To update, run: pip install --upgrade pip

# Part 1: SQLAlchemy Core

# 1. Setup

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey, DateTime, text, select, insert, update, delete, func, join
from datetime import datetime

In [24]:
# Create an in-memory SQLite database (echo=True - for learning purposes)
engine = create_engine("sqlite:///:memory:", echo=True)

In [10]:
# Metadata is a container for Table objects
metadata = MetaData()

In [11]:
print("Engine created:", engine)

Engine created: Engine(sqlite:///:memory:)

# 2. Define tables

In [13]:
# Define authors table
authors = Table(
    'authors', 
    metadata, 
    Column('id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('email', String(200), unique=True)
)

# Define articles table with foreign key
articles = Table(
    'articles', 
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String(200), nullable=False),
    Column('content', String(5000)),
    Column('author_id', Integer, ForeignKey('authors.id')),
    Column('created_at', DateTime, default=datetime.utcnow)
)

In [14]:
# Create tables in database
metadata.create_all(engine)

2026-02-24 17:26:27,061 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-24 17:26:27,066 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("authors")
2026-02-24 17:26:27,068 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-24 17:26:27,069 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("authors")
2026-02-24 17:26:27,071 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-24 17:26:27,072 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("articles")
2026-02-24 17:26:27,073 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-24 17:26:27,073 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("articles")
2026-02-24 17:26:27,074 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-24 17:26:27,075 INFO sqlalchemy.engine.Engine
CREATE TABLE authors (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(200),
	PRIMARY KEY (id),
	UNIQUE (email)
)


2026-02-24 17:26:27,075 INFO sqlalchemy.engine.Engine [no key 0.00068s] ()
2026-02-24 17:26:27,076 INFO sqlalchemy.engine.Engine
CREATE TABLE articles (
	id INTEGER NOT NULL,
	title VARCHAR(200) NOT NULL,
	content VARCHAR(5000),
	author_id INTEGER,
	created_at DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(author_id) REFERENCES authors (id)
)


2026-02-24 17:26:27,077 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2026-02-24 17:26:27,077 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
print("Tables created!")
print(f"Columns in authors: {[c.name for c in authors.columns]}")
print(f"Columns in articles: {[c.name for c in articles.columns]}")

Tables created!
Columns in authors: ['id', 'name', 'email']
Columns in articles: ['id', 'title', 'content', 'author_id', 'created_at']

# 3. Insert Data

In [16]:
# Single insert
with engine.begin() as conn: 
    result = conn.execute(
        insert(authors).values(name="Alice Johnson", email = "alice@example.com")
    )
    print(f"Inserted author ID: {result.inserted_primary_key}")

2026-02-24 17:29:03,287 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-24 17:29:03,290 INFO sqlalchemy.engine.Engine INSERT INTO authors (name, email) VALUES (?, ?)
2026-02-24 17:29:03,291 INFO sqlalchemy.engine.Engine [generated in 0.00119s] ('Alice Johnson', 'alice@example.com')
Inserted author ID: (1,)
2026-02-24 17:29:03,292 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
# Bulk insert 
with engine.begin() as conn: 
    articles_data = [
        {"title": "Frist Post", "content": "Hello world!", "author_id": 1},
        {"title": "Second Post", "content": "More content", "author_id": 1},
        {"title": "Bob's Article", "content": "Writing from Bob.", "author_id": 2},
    ]
    result = conn.execute(insert(articles), articles_data)
    print(f"Inserted {result.rowcount} articles")

Inserted 3 articles

# 4. Select Data

In [24]:
# Select all authors
engine.echo = False # Turn off echo for cleaner output
with engine.connect() as conn: 
    result = conn.execute(select(authors))
    for row in result: 
        print(f"ID: {row.id}, Name: {row.name}, Email: {row.email}")

ID: 1, Name: Alice Johnson, Email: alice@example.com

In [28]:
# Select withh WHERE clause
with engine.connect() as conn:
    stmt = select(articles).where(articles.c.author_id == 1)
    result = conn.execute(stmt)
    for row in result:
        print(row)
        print(f"{row.title}: {row.content[:30]}...")

(1, 'Frist Post', None, 1, datetime.datetime(2026, 2, 26, 15, 19, 46, 624619))

TypeError: 'NoneType' object is not subscriptable

# I did not insert bob and re-ran cells hence the error
Perfect opportunity to learn

In [34]:
# Clearning existing data
with engine.begin() as conn: 
    conn.execute(delete(articles))
    conn.execute(delete(authors))
    print("Cleared existing data")

Cleared existing data

In [38]:
# Creating authors first
with engine.begin() as conn: 
    conn.execute(insert(authors).values(name = "Kriti Sanon", email="kritirobot@example.com" ))
    conn.execute(insert(authors).values(name = "Ananya Pandey", email="anayachunky@example.com"))
    print("Inserted 2 authors")

Inserted 2 authors

In [42]:
with engine.begin() as conn:
    articles_data = [
      {"title": "First Post", "content": "Hello world!", "author_id": 1},
      {"title": "Second Post", "content": "More content", "author_id": 1},
      {"title": "Pandey's Article", "content": "Writing from Ananya.", "author_id": 2},
      ]
    result = conn.execute(insert(articles), articles_data)
    print(f"Inserted {result.rowcount} articles")

Inserted 3 articles

In [45]:
engine.echo = False  # Turn off echo for cleaner output
with engine.connect() as conn:
  result = conn.execute(select(authors))
  for row in result:
      print(f"ID: {row.id}, Name: {row.name}, Email: {row.email}")

ID: 1, Name: Kriti Sanon, Email: kritirobot@example.com
ID: 2, Name: Ananya Pandey, Email: anayachunky@example.com

In [43]:
with engine.connect() as conn:
    stmt = select(articles).where(articles.c.author_id == 1)
    result = conn.execute(stmt)
    for row in result:
        print(f"{row.title}: {row.content[:30]}...")

First Post: Hello world!...
Second Post: More content...

# 5. JOIN Operations

In [46]:
# Joing articles with authors
with engine.connect() as conn: 
    stmt = (
        select(articles.c.title, authors.c.name.label("author_name"))
        .select_from(articles.join(authors, articles.c.author_id == authors.c.id))
    )
    result = conn.execute(stmt)
    for row in result: 
        print(f"{row.title} by {row.author_name}")

First Post by Kriti Sanon
Second Post by Kriti Sanon
Pandey's Article by Ananya Pandey

# 6. Aggregations

In [47]:
# Count articles per author
with engine.connect() as conn: 
    stmt = (
    select(authors.c.name, func.count(articles.c.id).label("count"))
    .select_from(authors.join(articles, authors.c.id == articles.c.author_id))
    .group_by(authors.c.id, authors.c.name)
    )
    result = conn.execute(stmt)
    for row in result: 
        print(f"{row.name} : {row.count} articles")

Kriti Sanon : 2 articles
Ananya Pandey : 1 articles

# 7. Update Data

In [49]:
with engine.begin() as conn: 
    stmt = (
        update(authors)
        .where(authors.c.name == "Kriti Sanon")
        .values(email = "newKriti@example.com")
    )
    result = conn.execute(stmt)
    print(f"Updated {result.rowcount} rows")

Updated 1 rows

-------------------------------------------------------------------------------------------------------------------

# Part 2. SQLAlchemy ORM

# 8. ORM Setup

In [3]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship, Session, joinedload, selectinload
from typing import List

In [4]:
# New database for ORM
orm_engine = create_engine("sqlite:///:memory:", echo=False)

In [5]:
class Base(DeclarativeBase): 
    pass

# 9. Define ORM Models

In [6]:
class Customer(Base): 
    __tablename__ = 'customers'
    
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(100))
    email: Mapped[str] = mapped_column(String(200), unique=True)
        
    orders: Mapped[List["Order"]] = relationship(
            back_populates="customer", cascade="all, delete-orphan"
    )
        
    
    def __repr__(self): 
        return f"<Customer(id={self.id}, name='{self.name}')>"

In [7]:
class Product(Base): 
    __tablename__ = 'products'
    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(200))
    price: Mapped[float] = mapped_column(Integer)

    order_items: Mapped[List["OrderItem"]] = relationship(back_populates="product")

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price})>"

In [8]:
class Order(Base):
    __tablename__ = 'orders'
    __table_args__ = {'extend_existing': True}

    id: Mapped[int] = mapped_column(primary_key=True)
    customer_id: Mapped[int] = mapped_column(ForeignKey('customers.id'))
    status: Mapped[str] = mapped_column(String(50), default="pending")

    customer: Mapped["Customer"] = relationship(back_populates="orders")
    items: Mapped[List["OrderItem"]] = relationship(
      back_populates="order", cascade="all, delete-orphan"
    )

    def __repr__(self):
        return f"<Order(id={self.id}, status='{self.status}')>"

In [9]:
class OrderItem(Base):
    __tablename__ = 'order_items'
    __table_args__ = {'extend_existing': True}

    id: Mapped[int] = mapped_column(primary_key=True)
    order_id: Mapped[int] = mapped_column(ForeignKey('orders.id'))
    product_id: Mapped[int] = mapped_column(ForeignKey('products.id'))
    quantity: Mapped[int] = mapped_column(Integer)

    order: Mapped["Order"] = relationship(back_populates="items")
    product: Mapped["Product"] = relationship(back_populates="order_items")
        
    def __repr__(self):
        return f"<OrderItem(id={self.id}, quantity={self.quantity})>"

### Lesson

__repr__ controls what you see when you print/log an object. Without it, you get unhelpful output like <__main__.OrderItem object at 0x10a3b5c70>.


With repr:
print(order_item)  # <OrderItem(id=1, quantity=2)>
Without repr:
print(order_item)  # <__main__.OrderItem object at 0x10a3b5c70>

In [10]:
# Create tables
Base.metadata.create_all(orm_engine)
print("ORM Tables created")

ORM Tables created

# 10. Create Objects

In [11]:
session = Session(orm_engine)

In [12]:
# Create products and customers
laptop = Product(name="Laptop", price=999)
mouse = Product(name = "Mouse", price=29)
john = Customer(name = "John Doe", email="john@example.com")

In [13]:
session.add_all([laptop, mouse, john])
session.commit()

# 11. Work with Relationships

In [14]:
# Create an order with items
order  = Order(
    customer=john, 
    items = [
        OrderItem(product=laptop, quantity=1), 
        OrderItem(product=mouse, quantity=2),
    ]
    )
session.add(order)
session.commit()

# 12. Query - Lazy vs Eager Loading (supposedly very important)

In [15]:
# Lazy Loading (N+1 problem)
orm_engine.echo = True
orders = session.query(Order).all()
for order in orders: 
    print(f"Order : {order.id} by {order.customer.name}") # Triggers extra query per order
orm_engine.echo = False

2026-02-26 11:52:39,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-26 11:52:39,131 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.status AS orders_status
FROM orders
2026-02-26 11:52:39,133 INFO sqlalchemy.engine.Engine [generated in 0.00240s] ()
2026-02-26 11:52:39,136 INFO sqlalchemy.engine.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.email AS customers_email
FROM customers
WHERE customers.id = ?
2026-02-26 11:52:39,137 INFO sqlalchemy.engine.Engine [generated in 0.00144s] (1,)
Order : 1 by John Doe

In [17]:
# EAGER loading - single query 
orm_engine.echo = True
orders = session.query(Order).options(joinedload(Order.customer)).all()
for order in orders: 
    print(f"Order : {order.id} by {order.customer.name}") # No extra queries
orm_engine.echo = False

2026-02-26 11:53:56,561 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.status AS orders_status, customers_1.id AS customers_1_id, customers_1.name AS customers_1_name, customers_1.email AS customers_1_email
FROM orders LEFT OUTER JOIN customers AS customers_1 ON customers_1.id = orders.customer_id
2026-02-26 11:53:56,564 INFO sqlalchemy.engine.Engine [cached since 9.955s ago] ()
Order : 1 by John Doe

# Lessson

The difference is when the related customer data gets fetched:
Lazy Loading (N+1 problem)
orders = session.query(Order).all()  # Query 1: SELECT orders...
for order in orders:
    print(order.customer.name)       # Query 2,3,4...: SELECT customers... for EACH order
- Runs 1 + N queries (1 for orders, N for each customer)
- Good when you don't need the related data
- Terrible for loops - each .customer.name triggers a new database hit
Eager Loading (joinedload)
orders = session.query(Order).options(joinedload(Order.customer)).all()
# Single query with JOIN: SELECT orders... LEFT OUTER JOIN customers...
for order in orders:
    print(order.customer.name)       # Already loaded, no extra query
- Runs 1 query total using SQL JOIN
- Good when you know you'll use the related data
- No N+1 penalty in loops
The Rule: Use joinedload() when you'll access the relationship in a loop. Use lazy loading when you might not need the related data at all.

# 13. Update and Delete

In [18]:
laptop = session.query(Product).filter_by(name="Laptop").first()
laptop.price = 899 
session.commit()
print(f"New Laptop price : {laptop.price}")

New Laptop price : 899

In [19]:
# Delete
item_to_delete = session.query(OrderItem).first()
session.delete(item_to_delete)
session.commit()
print("Item deleted")

Item deleted

# 14. Aggregation

In [20]:
from sqlalchemy import func

results = session.query(
    Customer.name, 
    func.count(Order.id).label('order_count')
).join(Order).group_by(Customer.id).all()

for name, count in results:
    print(f"{name} : {count} orders")

John Doe : 1 orders

----------------------------------------------------------------------------------------------------------------

# Part 3: Core vs ORM side-by-side

In [22]:
# Same operation: select with filter

In [29]:
# CORE 
with engine.connect() as conn: 
    stmt = select(authors).where(authors.c.name.like("k%"))
    for rown in conn.execute(stmt): 
        print(f"CORE: {row.name}")
        
# ORM 
for customer in session.query(Customer).filter(Customer.name.like("A%")): 
    print(f"ORM : {customer.name}")

# Lessons

Core and ORM deal with data operations.
Alembic deals with schema evolution.

In serious systems:

80% ORM

15% Core for heavy queries

5% raw SQL for extreme cases

Alembic always

If someone uses only ORM and never reads generated SQL,
they’re flying blind.

If someone refuses ORM entirely,
they’re wasting time on CRUD.

Balance is maturity.